Repository IntersectMBO/cardano-node-tests, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkoura, @saratomaz, @ArturWieczorek

Remove "legacy-editable" as it is no longer supported by pip
  README.md
  setup_dev_venv.sh
Owners: @mkoura, @saratomaz

Update Sphinx
  poetry.lock
  pyproject.toml
Owners: @mkoura, @saratomaz

fix test_register_hot_key_no_cc_member
  cardano_node_tests/tests/tests_conway/test_committee.py
Owners: @mkoura, @saratomaz

Add db-sync check for info action test
  cardano_node_tests/tests/data/info_action_anchor.json
  cardano_node_tests/tests/tests_conway/test_info.py
  cardano_node_tests/utils/dbsync_queries.py
  cardano_node_tests/utils/dbsync_types.py
  cardano_node_tests/utils/dbsync_utils.py
  cardano_node_tests/utils/helpers.py
Owners: @mkoura, @saratomaz, @ArturWieczorek

Add missing dbsync mark on conway tests
  cardano_node_tests/tests/tests_conway/test_committee.py
  cardano_node_tests/tests/tests_conway/test_info.py
  cardano_node_tests/tests/tests_conway/test_treasury_withdrawals.py
Owners: @mkoura, @saratomaz

Add anchor file for off chain action data tests
  cardano_node_tests/tests/data/governance_action_anchor.json
Owners: @mkoura, @saratomaz

Update docker tests
  .github/workflows/db_sync_docker_sync_test.yaml
Owners: @ArturWieczorek

Remove disable mark related to 9.0.0
  cardano_node_tests/tests/tests_conway/test_committee.py
  cardano_node_tests/tests/tests_conway/test_no_confidence.py
Owners: @mkoura, @saratomaz

Fix CC members tests
  cardano_node_tests/tests/tests_conway/test_committee.py
  cardano_node_tests/utils/governance_utils.py
Owners: @mkoura, @saratomaz

Fix `test_committee_min_size` on node 9.0.0+
  cardano_node_tests/tests/tests_conway/test_no_confidence.py
Owners: @mkoura, @saratomaz

We can use default cardano-cli for nightly again
  .github/env_nightly_conway_bootstrap
  .github/env_nightly_conway_cc
  .github/env_nightly_conway_nocc
Owners: @mkoura, @saratomaz

Re-enable `test_update_committee_action`
  cardano_node_tests/tests/tests_conway/test_committee.py
Owners: @mkoura, @saratomaz

Add nightly conway dbsync workflow
  .github/env_nightly_conway_dbsync
  .github/workflows/nightly_conway_dbsync.yaml
Owners: @mkoura, @saratomaz

Update Chang User Stories Template
  src_docs/chang_user_stories_template.rst
Owners: @mkoura, @saratomaz, @ArturWieczorek

Fix submit-api version of `test_register_hot_key_no_cc_member`
  cardano_node_tests/tests/tests_conway/test_committee.py
Owners: @mkoura, @saratomaz

Update Chang user stories report
  src_docs/source/test_results/requirements/chang_user_stories_system_tests.rst
Owners: @mkoura, @saratomaz, @ArturWieczorek

Add drep metadata json file
  cardano_node_tests/tests/data/drep_metadata.json
Owners: @mkoura, @saratomaz

Add off_chain_vote_fetch_error dbsync query
  cardano_node_tests/utils/dbsync_queries.py
Owners: @mkoura, @saratomaz, @ArturWieczorek

Check drep metadata in dbsync
  cardano_node_tests/tests/tests_conway/test_drep.py
  cardano_node_tests/utils/dbsync_queries.py
  cardano_node_tests/utils/dbsync_utils.py
Owners: @mkoura, @saratomaz, @ArturWieczorek

Add pool metadata json file
  cardano_node_tests/tests/data/pool_metadata.json
Owners: @mkoura, @saratomaz

Call `get_vcs_link` once when possible
  cardano_node_tests/tests/tests_conway/test_guardrails.py
Owners: @mkoura, @saratomaz

Skip on non-local testnets
  cardano_node_tests/tests/tests_conway/test_guardrails.py
Owners: @mkoura, @saratomaz

Enable running the guardrails tests in parallel
  cardano_node_tests/tests/tests_conway/test_guardrails.py
Owners: @mkoura, @saratomaz

Add governance guardrails tests for update pparams
  cardano_node_tests/tests/data/defaultConstitution.json
  cardano_node_tests/tests/data/plutus/v3/constitutionScriptV3.plutus
  cardano_node_tests/tests/reqs_conway.py
  cardano_node_tests/tests/tests_conway/conway_common.py
  cardano_node_tests/tests/tests_conway/test_guardrails.py
  cardano_node_tests/utils/clusterlib_utils.py
Owners: @mkoura, @saratomaz

Make template name more descriptive
  cardano_node_tests/tests/tests_conway/test_guardrails.py
Owners: @mkoura, @saratomaz

Make all imports module-level; freeze dataclasses
  cardano_node_tests/tests/tests_conway/test_guardrails.py
Owners: @mkoura, @saratomaz

Use pool user only for deposit and collateral
  cardano_node_tests/tests/tests_conway/test_guardrails.py
Owners: @mkoura, @saratomaz

Add requirements covered by guardrails tests
  cardano_node_tests/tests/reqs_conway.py
  cardano_node_tests/tests/tests_conway/test_guardrails.py
Owners: @mkoura, @saratomaz

Update long pparam names so they can wrap
  src_docs/chang_user_stories_template.rst
Owners: @mkoura, @saratomaz, @ArturWieczorek

Update Chang User Stories coverage
  src_docs/source/test_results/requirements/chang_user_stories_system_tests.rst
Owners: @mkoura, @saratomaz, @ArturWieczorek

Fix formatting in docstring
  cardano_node_tests/tests/tests_conway/test_guardrails.py
Owners: @mkoura, @saratomaz

Add description for the CIP043 user story
  cardano_node_tests/tests/reqs_conway.py
Owners: @mkoura, @saratomaz

Add cardano-cli issue 860
  cardano_node_tests/tests/issues.py
Owners: @mkoura, @saratomaz

Add test for negative value in pparam update
  cardano_node_tests/tests/tests_conway/test_pparam_update.py
Owners: @mkoura, @saratomaz

Handle cardano-cli issue 860 in guardrails tests
  cardano_node_tests/tests/tests_conway/test_guardrails.py
Owners: @mkoura, @saratomaz

Rename var to more fitting name
  cardano_node_tests/utils/governance_utils.py
Owners: @mkoura, @saratomaz

Add fee buffer
  cardano_node_tests/tests/tests_conway/conway_common.py
Owners: @mkoura, @saratomaz

Check dbsync table off_chain_vote_fetch_error related to DRep
  cardano_node_tests/tests/tests_conway/test_drep.py
Owners: @mkoura, @saratomaz

Add Conway requirements related to db-sync
  cardano_node_tests/tests/reqs_conway.py
  cardano_node_tests/tests/tests_conway/test_committee.py
  src_docs/source/test_results/requirements/chang_user_stories_system_tests.rst
Owners: @mkoura, @saratomaz, @ArturWieczorek

Run only dbsync tests in dbsync Conway nightly
  .github/env_nightly_conway_dbsync
Owners: @mkoura, @saratomaz

.github/CODEOWNERS:

# Note: later rules override earlier rules.

# Default
#                                  Martin  Sara
*                                  @mkoura @saratomaz

# Cardano Node Testing Team

doc                                @mkoura @saratomaz @ArturWieczorek
src_docs                           @mkoura @saratomaz @ArturWieczorek
cabal_build_tests                  @ArturWieczorek
cardano_node_tests/utils/dbsync_*  @mkoura @saratomaz @ArturWieczorek


# CICD

.github/workflows/db_sync_*        @ArturWieczorek
.github/workflows/node_sync_*      @ArturWieczorek
.github/workflows/smash_*          @ArturWieczorek
