Repository IntersectMBO/cardano-node-tests, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkoura, @saratomaz, @ArturWieczorek

Update CIP031a coverage
  cardano_node_tests/tests/tests_conway/test_committee.py
  cardano_node_tests/tests/tests_conway/test_constitution.py
  cardano_node_tests/tests/tests_conway/test_info.py
  cardano_node_tests/tests/tests_conway/test_no_confidence.py
  cardano_node_tests/tests/tests_conway/test_pparam_update.py
  cardano_node_tests/tests/tests_conway/test_treasury_withdrawals.py
  src_docs/requirements_mapping.json
Owners: @mkoura, @saratomaz, @ArturWieczorek

Update blockers for 8.9.0
  cardano_node_tests/tests/tests_plutus/spend_build.py
  cardano_node_tests/tests/tests_plutus/spend_raw.py
  cardano_node_tests/tests/tests_plutus/test_spend_negative_raw.py
  cardano_node_tests/tests/tests_plutus_v2/test_spend_collateral_build.py
  cardano_node_tests/tests/tests_plutus_v2/test_spend_collateral_raw.py
  cardano_node_tests/tests/tests_plutus_v2/test_spend_ref_scripts_raw.py
Owners: @mkoura, @saratomaz

Update clusterlib to v0.6.0a15
  poetry.lock
  pyproject.toml
Owners: @mkoura, @saratomaz

Update PlutusV2 mint tests to work with PlutusV3 reference scripts
  cardano_node_tests/tests/plutus_common.py
  cardano_node_tests/tests/tests_plutus_v2/test_mint_build.py
  cardano_node_tests/tests/tests_plutus_v2/test_mint_raw.py
Owners: @mkoura, @saratomaz

Adjust cc hot keys auth behavior expectations
  cardano_node_tests/tests/tests_conway/test_committee.py
Owners: @mkoura, @saratomaz

Handle Txs that are stuck in mempool
  cardano_node_tests/tests/test_tx_mempool.py
Owners: @mkoura, @saratomaz

Check CC voting only on setup with CC
  cardano_node_tests/tests/tests_conway/test_committee.py
Owners: @mkoura, @saratomaz

Check that all explicitly removed CC are not prensent
  cardano_node_tests/tests/tests_conway/test_committee.py
Owners: @mkoura, @saratomaz

Use db-sync 'master' for running nightly
  .github/env_nightly_dbsync
Owners: @mkoura, @saratomaz

Add testing results for 8.8.0
  src_docs/source/test_results/node/tag_8_8_0.rst
  src_docs/source/test_results/tag_tests.rst
Owners: @mkoura, @saratomaz, @ArturWieczorek

Use "fast" cluster scripts by default
  .github/env_nightly
  .github/env_nightly_alonzo_tx
  .github/env_nightly_dbsync
  .github/env_nightly_gov_cc
  .github/env_nightly_gov_nocc
  .github/env_nightly_mary_tx
  .github/env_nightly_mixed
  .github/env_nightly_p2p
  .github/env_nightly_shelley_tx
  .github/env_nightly_upgrade
  .github/node_upgrade_pytest.sh
  .github/regression.sh
  .github/workflows/regression-dbsync.yaml
  .github/workflows/regression.yaml
  .github/workflows/regression_reusable.yaml
  README.md
  cardano_node_tests/utils/configuration.py
  scripts/test_block_production.sh
Owners: @mkoura, @saratomaz

Add editorconfig
  .editorconfig
Owners: @mkoura, @saratomaz

Test protocol paramameter groups
  cardano_node_tests/tests/tests_conway/conway_common.py
  cardano_node_tests/tests/tests_conway/test_pparam_update.py
  cardano_node_tests/utils/helpers.py
Owners: @mkoura, @saratomaz

Link additional requirements
  cardano_node_tests/tests/tests_conway/test_committee.py
  cardano_node_tests/tests/tests_conway/test_constitution.py
  cardano_node_tests/tests/tests_conway/test_info.py
  cardano_node_tests/tests/tests_conway/test_no_confidence.py
  cardano_node_tests/tests/tests_conway/test_pparam_update.py
  cardano_node_tests/tests/tests_conway/test_treasury_withdrawals.py
  src_docs/requirements_mapping.json
Owners: @mkoura, @saratomaz, @ArturWieczorek

Update flake.lock for node 8.7.3
  flake.lock
Owners: @mkoura, @saratomaz

Add drep de/registration db-sync checks
  cardano_node_tests/tests/tests_conway/test_drep.py
  cardano_node_tests/utils/dbsync_queries.py
  cardano_node_tests/utils/dbsync_types.py
  cardano_node_tests/utils/dbsync_utils.py
Owners: @mkoura, @saratomaz, @ArturWieczorek

Use Python venv directly instead of through poetry2nix
  .github/node_upgrade.sh
  .github/regression.sh
  .github/setup_venv.sh
  flake.nix
  requirements_freeze.txt
Owners: @mkoura, @saratomaz

Simplify nix testing env
  check_dev_env.sh
  prepare_test_env.sh
  setup_dev_venv.sh
Owners: @mkoura, @saratomaz

Add script for updating dependencies using poetry
  poetry_update_deps.sh
Owners: @mkoura, @saratomaz

Update README
  README.md
Owners: @mkoura, @saratomaz

Fix node and cli version comparison
  check_dev_env.sh
Owners: @mkoura, @saratomaz

Tune delegation tests selection for testnets
  cardano_node_tests/tests/test_delegation.py
Owners: @mkoura, @saratomaz

Make `prepare_test_env.sh` behave better when sourced
  prepare_test_env.sh
Owners: @mkoura, @saratomaz

Results for 8.9.0 release testing
  src_docs/source/test_results/node/tag_8_9_0.rst
  src_docs/source/test_results/tag_tests.rst
Owners: @mkoura, @saratomaz, @ArturWieczorek

Update cabal tests to include tag type check
  cabal_build_tests/install-node.sh
Owners: @ArturWieczorek

Add submit-api variant of `test_addr_registration_certificate_order`
  cardano_node_tests/tests/test_addr_registration.py
Owners: @mkoura, @saratomaz

Wait for at least epoch 1
  cardano_node_tests/tests/test_blocks.py
Owners: @mkoura, @saratomaz

Xfail on `create-script-context` not supporting Conway
  cardano_node_tests/tests/plutus_common.py
Owners: @mkoura, @saratomaz

Xfail on ledger issue 4198
  cardano_node_tests/tests/tests_plutus/spend_build.py
  cardano_node_tests/tests/tests_plutus_v2/test_spend_collateral_build.py
  cardano_node_tests/tests/tests_plutus_v2/test_spend_collateral_raw.py
Owners: @mkoura, @saratomaz

Update latest node and db-sync version numbers
  cardano_node_tests/utils/versions.py
Owners: @mkoura, @saratomaz

Xfail on cardano-api issue 484
  cardano_node_tests/tests/test_addr_registration.py
Owners: @mkoura, @saratomaz

Update Conway CIP59 coverage
  cardano_node_tests/tests/tests_conway/test_info.py
Owners: @mkoura, @saratomaz

Run all tests in Conway nightly jobs
  .github/env_nightly_conway_cc
  .github/env_nightly_conway_nocc
  .github/env_nightly_gov_cc
  .github/workflows/nightly_conway_cc.yaml
  .github/workflows/nightly_conway_nocc.yaml
  src_docs/source/test_results/nightly_system_tests.rst
Owners: @mkoura, @saratomaz, @ArturWieczorek

Accept fee for `transaction build-raw`
  cardano_node_tests/utils/clusterlib_utils.py
Owners: @mkoura, @saratomaz

Increase execution units on Conway
  cardano_node_tests/tests/tests_plutus/test_delegation.py
Owners: @mkoura, @saratomaz

Ajust nightly jobs
  .github/env_nightly
  .github/env_nightly_alonzo_tx
  .github/env_nightly_mary_tx
  .github/workflows/nightly_conway_cc.yaml
  .github/workflows/nightly_conway_nocc.yaml
  .github/workflows/nightly_mary_tx.yaml
  .github/workflows/nightly_p2p.yaml
  src_docs/source/test_results/nightly_system_tests.rst
Owners: @mkoura, @saratomaz, @ArturWieczorek

Xfail on cli issue 650
  cardano_node_tests/tests/tests_plutus/test_delegation.py
Owners: @mkoura, @saratomaz

Update Conway CIP60 coverage
  cardano_node_tests/tests/tests_conway/test_pparam_update.py
Owners: @mkoura, @saratomaz

Mark committee as in use
  cardano_node_tests/tests/tests_conway/conftest.py
  cardano_node_tests/tests/tests_conway/test_committee.py
Owners: @mkoura, @saratomaz

Fix nix develop instructions
  README.md
Owners: @mkoura, @saratomaz

.github/CODEOWNERS:

# Note: later rules override earlier rules.

# Default
#                                  Martin  Sara
*                                  @mkoura @saratomaz

# Cardano Node Testing Team

doc                                @mkoura @saratomaz @ArturWieczorek
src_docs                           @mkoura @saratomaz @ArturWieczorek
cabal_build_tests                  @ArturWieczorek
cardano_node_tests/utils/dbsync_*  @mkoura @saratomaz @ArturWieczorek


# CICD

.github/workflows/db_sync_*        @ArturWieczorek
.github/workflows/node_sync_*      @ArturWieczorek
.github/workflows/smash_*          @ArturWieczorek
