Repository IntersectMBO/cardano-node-tests, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mkoura, @saratomaz, @ArturWieczorek

feat(faucet): add support for multiple faucet sources
  cardano_node_tests/cluster_management/cluster_getter.py
  cardano_node_tests/utils/faucet.py
Owners: @mkoura, @saratomaz

refactor(tests): simplify address creation in test_blocks
  cardano_node_tests/tests/test_blocks.py
Owners: @mkoura, @saratomaz

fix(tests): ensure network reaches epoch 2 before tests
  cardano_node_tests/tests/test_blocks.py
Owners: @mkoura, @saratomaz

feat(tests): add assertion for protocol major version
  cardano_node_tests/tests/tests_conway/test_hardfork.py
Owners: @mkoura, @saratomaz

fix(tests): correct name template in test_pparam_update.py
  cardano_node_tests/tests/tests_conway/test_pparam_update.py
Owners: @mkoura, @saratomaz

fix(tests): fund large amounts of tADA from main faucet
  cardano_node_tests/tests/test_tx_many_utxos.py
  cardano_node_tests/tests/tests_conway/test_drep.py
Owners: @mkoura, @saratomaz

refactor: remove unused fund_from_genesis function
  cardano_node_tests/utils/clusterlib_utils.py
Owners: @mkoura, @saratomaz

doc: update Conway User Stories coverage
  src_docs/source/test_results/requirements/chang_user_stories_system_tests.rst
Owners: @mkoura, @saratomaz, @ArturWieczorek

feat: make test env setup reusable in another shells
  README.md
  prepare_test_env.sh
Owners: @mkoura, @saratomaz

Example of Plutus minting test
  cardano_node_tests/tests/tests_plutus/test_mint_build.py
Owners: @mkoura, @saratomaz

Update configuration website url
  sync_tests/node_sync_test.py
Owners: @mkoura, @saratomaz

Remove workarounds from before Conway HF era
  sync_tests/node_sync_test.py
Owners: @mkoura, @saratomaz

Add diagnostics messages
  .github/workflows/node_sync_test.yaml
  sync_tests/node_sync_test.py
Owners: @ArturWieczorek, @mkoura, @saratomaz

Add RSS RAM tracking metrics
  sync_tests/node_sync_test.py
  sync_tests/node_write_sync_values_to_db.py
Owners: @mkoura, @saratomaz

Update logic for downloading configuration files
  sync_tests/node_sync_test.py
Owners: @mkoura, @saratomaz

Artur/sync tests update (#2672)
  .buildkite/node_sync_tests.sh
  .buildkite/node_sync_tests.yml
  .github/workflows/node_mainnet_tx_count_per_epoch.yaml
  .github/workflows/node_sync_test.yaml
  sync_tests/aws_db_utils.py
  sync_tests/gitpython_utils.py
  sync_tests/node_sync_test.py
  sync_tests/node_write_mainnet_tx_count_per_epoch.py
  sync_tests/node_write_sync_values_to_db.py
  sync_tests/utils.py
Owners: @mkoura, @saratomaz, @ArturWieczorek

Add support for new network topologies
  .github/workflows/node_sync_test.yaml
  sync_tests/node_sync_test.py
  sync_tests/utils.py
Owners: @ArturWieczorek, @mkoura, @saratomaz

Update hithub action file
  .github/workflows/cabal.project.local.ci
  .github/workflows/node_sync_test.yaml
  sync_tests/cabal.project.local
  sync_tests/node_sync_test.py
  sync_tests/utils.py
Owners: @mkoura, @saratomaz, @ArturWieczorek

Cost model update for PV10
  cardano_node_tests/cluster_scripts/conway_fast/genesis.conway.spec.json
  cardano_node_tests/tests/data/cost_models_pv10.json
  cardano_node_tests/tests/tests_conway/test_pparam_update.py
Owners: @mkoura, @saratomaz

Polish GH Sync YAML file
  .github/workflows/node_sync_test.yaml
  sync_tests/node_sync_test.py
Owners: @ArturWieczorek, @mkoura, @saratomaz

Final polish
  .buildkite/node_sync_tests.yml
  .github/workflows/cabal.project.local.ci
  .github/workflows/node_sync_test.yaml
  sync_tests/node_sync_test.py
Owners: @mkoura, @saratomaz, @ArturWieczorek

Major update for sync tests
  .buildkite/node_sync_tests.yml
  .github/workflows/node_sync_test.yaml
  sync_tests/cabal.project.local
  sync_tests/node_sync_test.py
  sync_tests/utils.py
Owners: @mkoura, @saratomaz, @ArturWieczorek

Add scheduled build and automated tag fetching for latest release
  .github/workflows/node_sync_test.yaml
Owners: @ArturWieczorek

Update the cost model update test
  cardano_node_tests/tests/data/cost_models_pv10.json
  cardano_node_tests/tests/data/cost_models_pv10_list.json
  cardano_node_tests/tests/tests_conway/test_pparam_update.py
Owners: @mkoura, @saratomaz

refactor(tests): use subtests for guardrail scenarios
  cardano_node_tests/tests/tests_conway/test_guardrails.py
Owners: @mkoura, @saratomaz

test: fix incorrect file template name
  cardano_node_tests/tests/test_addr_registration.py
Owners: @mkoura, @saratomaz

fix typo
  framework_tests/test_subtests.py
Owners: @mkoura, @saratomaz

feat(tests): mark test_guardrails as long running
  cardano_node_tests/tests/tests_conway/test_guardrails.py
Owners: @mkoura, @saratomaz

.github/CODEOWNERS:

# Note: later rules override earlier rules.

# Default
#                                  Martin  Sara
*                                  @mkoura @saratomaz

# Cardano Node Testing Team

doc                                @mkoura @saratomaz @ArturWieczorek
src_docs                           @mkoura @saratomaz @ArturWieczorek
cabal_build_tests                  @ArturWieczorek
cardano_node_tests/utils/dbsync_*  @mkoura @saratomaz @ArturWieczorek


# CICD

.github/workflows/db_sync_*        @ArturWieczorek
.github/workflows/node_sync_*      @ArturWieczorek
.github/workflows/smash_*          @ArturWieczorek
